<div class="footer" id="contactus" style="background-image: url('assets/img/background-footer.png');">
    <div class="container-fluid footer-container mx-auto mt-5">
        <div class="row">
            <div class="col-12 col-lg-3 d-none d-lg-block">
                <div class="footer-brand d-flex flex-column">
                    <img src="assets/img/logo.png" alt="">
                    <span class="footer-brandtitle">Inception Wave</span>
                    <span class="footer-brandsubtitle">Ameliorating Work Culture</span>
                </div>
                <div class="footer-icons">
                    <ul class="d-flex list-unstyled m-0">
                        <li><a href=""><i class="fab pr-3 fa-lg fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab pr-3 fa-lg fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab pr-3 fa-lg fa-linkedin-in"></i></a></li>
                        <li><a href=""><i class="fab fa-lg fa-medium-m"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mb-4">
                <div class="join-title d-flex justify-content-center">JOIN OUR COMMUNITIES!</div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <span class="join-info">
                            Inception Wave took the initiative to bring 
                            like minded people together and provide
                            the a common platform to help them 
                            learn from each other and grow as 
                            an individual. We started with 5 communities 
                            for Artists, Writers, Photographers etc. and 
                            now we have more than 5000+ people 
                            in 36 communities combined.
                        </span>
                    </div>
                    <div class="col-12 col-lg-4">
                        <ul class="join-list">
                            <li class="join-list-item"><a href="">ENTREPRENEURSHIP</a></li>
                            <li class="join-list-item"><a href="">AUTOMOBILE INDUSTRY</a></li>
                            <li class="join-list-item"><a href="">FASHIONPRENEURS</a></li>
                            <li class="join-list-item"><a href="">DAILY MOTIVATION</a></li>
                            <li class="join-list-item"><a href="">ARTISTS</a></li>
                            <li class="join-list-item"><a href="">NEWS AND TRENDING</a></li>
                            <li class="join-list-item"><a href="">PHOTOGRAPHERS</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="join-list">
                            <li class="join-list-item"><a href="">FITNESS</a></li>
                            <li class="join-list-item"><a href="">WRITERS</a></li>
                            <li class="join-list-item"><a href="">MOVIE/TV SERIES ENTHUSIASTS</a></li>
                            <li class="join-list-item"><a href="">WANDERLUST</a></li>
                            <li class="join-list-item"><a href="">SPACE AND EXPORATION</a></li>
                            <li class="join-list-item"><a href="">DEVELOPERS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-3 p-3" style="border-top: 0.6px solid rgba(0, 0, 0, 0.3);">
                <span class="query">For any query, suggestion or feedback, feel free to contact us using below details.</span>
                <div class="d-flex flex-column justify-content-center mt-3">
                    <span style="font-weight: 600;"><a href="">+91 9247534718</a></span>
                    <span style="font-weight: 600;"><a href="">wave.inception@gmail.com</a></span>
                </div>
                <div class="last mt-4">
                    <span>Copyright ® INCEPTION WAVE 2020-21</span>
                </div>
            </div>
        </div>
    </div>
</div>