.my-nav{
    padding: 1rem;
}
@media(min-width:992px){
    .my-nav{
        padding: 2.6rem;
    }
}
.navbar-white{
    background-color: white;
    padding: 1rem;
}
.fa-bars{
    color: #fff;
}
.my-nav.navbar-white .fa-bars{
    color: #000;
}
.my-nav .brand-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.my-nav .brand-name img{
    width: 50px;
    margin-right: 8px;
}
.my-nav .brand-name .brand-title{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}
.my-nav.navbar-white .brand-name .brand-title{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}
.my-nav .nav-item{
    text-align: center;
}
.my-nav .dropdown-menu{
    top: 100%;
    right: 0;
    left: auto!important;
}
.my-nav .dropdown-toggle{
    border-radius: 50px;
    font-size: 0.8rem;
}
.my-nav .nav-menu .nav-link{
    color: #ffffff;
}
.my-nav.navbar-white .nav-menu .nav-link{
    color: #000;
}
.my-nav .nav-menu .nav-link:hover{
    color: #1187D1;
}
@media(min-width: 992px){
    .my-nav .nav-menu{
        display: flex;
        justify-content: center;
    }
    .my-nav .nav-dropdown{
        display: flex;
        justify-content: flex-end;
    }
}

/* nav-ends */
/*
.side-nav{
    height: 100vh;
    background-color: white;
    width: 60vw;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1040;
    animation: slidein 0.3s ease-in-out .3s loop forward fill-mode;
}

@keyframes slidein{
    0%{
        right: -65vw;
    }
    100%{
        right: 0;
    }
}
*/


@media (max-width: 768px) {
    #sidebar{
        background-color: black;
    }



    #sidebar.collapse {
      position: fixed;
      z-index: 2000;
      transition: all .3s ease;
      top: 0;
      bottom: 0;
      right: -30%; /* -width of sidebar */
      width: 0;
      height: 100% !important;
      display: block;
    }
    
    #sidebar.collapsing {
        transition: all .18s ease-in;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -30%;  /* -width of sidebar */
        width: 30%;  /* width of sidebar */
        height: 100% !important;
        display: block;
    }
    
    #sidebar.collapse.show {
        left: 0;
        width: 30%;  /* width of sidebar */
    }
 }